<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New fungus</title>
</head>

<body>
    <form action="/fungi" method="POST">
        <div>
            <label for="variety">Variety</label>
            <input type="text" id="variety" name="fungus[variety]">
        </div>
        <button>Add Fungus</button>
    </form>
    <footer><a href="/fungi">All Fungi</a></footer>
</body>

</html>