<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>

<body>
    <h1>
        <%=fungus.variety %>
    </h1>
    <h2>
        <%=fungus.poisonous %>

    </h2>
    <p><a href="/fungi/<%=fungus._id%>/edit">Edit</a></p>
    <p>
    <form action="/fungi/<%=fungus._id%>?_method=DELETE" method="POST">
        <button>DELETE</button>
    </form>
    </p>
    <footer><a href="/fungi">All Fungi</a></footer>

</body>

</html>