<nav
  class="navbar navbar-expand-lg sticky-top"
  style="background-color: #cfa9f3"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">FungiElysium</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/fungi">Fungi</a>
        <a class="nav-link" href="/fungi/new">New Fungus</a>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!currentUser) { %>
        <a href="/login" class="nav-link">log in</a>
        <a href="/register" class="nav-link">sign up</a>
        <% } else {%>
        <a class="nav-link">Oh, hi <%=currentUser.username %>! </a>
        <a href="/logout" class="nav-link">log out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
